* {
  padding: 10px;
  margin: 0px;
  background-color: beige;
  justifycontent: center;
  display: flex;
  
}

header {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  color: midnightblue;
}

#A:hover {
  color: crimson;
  transform: perspective(1.2);
}

#B:hover {
  color: red;
  transform: perspective(1.2);
}
#C:hover {
  color: red;
  transform: perspective(1.2);
}

#D:hover {
  color: red;
  transform: perspective(1.2);
}

main {
  display: flex;
  justify-content: center;
  position: relative;
}

input {
  width: 450px;
  height: 20px;
  justify-content: center;
  border-radius: 10px;
  color: darkslategrey;
}

button {
  height: 40px;
  border-radius: 10px;
  outline: 2px;
  background-color: darkslategrey;
}

article {
  justify-content: center;
  text-align: center;
  font-size: 15px;
  color: navy;
}

#E:hover {
  color: red;
  transform: perspective(1.3);
}

#F:hover {
  color: red;
  transform: perspective(1.3);
}

article > div {
  background-color: darkgoldenrod;
  justify-content: space-around;
  display: inline-block;
}

li {
  list-style: none;
  justify-content: center;
  display: flex;
}

footer {
  background-color: cornflowerblue;
}
